venv/

# Data files
*.csv
*.json

# IDE files
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env